<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>

<body>

	<header th:include="_template :: header"></header>
	
	<div class="biblioteca">
		<h2>Biblioteca</h2>
		<p id="subtext">Na biblioteca, voce pode conferir todos os livros disponiveis em bookify!</p>
		
		<ul th:each="task : ${book}">
			<li><img th:src="book.png" id="librimg">

				<p th:text="${task.title}" id="comms"></p>
				<p th:text="${task.description}" id="comms"></p>
				<p th:text="${task.points}" id="comms"></p>
				<p id="comms2">Pontos:</p>
				<p th:text="${task.status}" id="comms"></p>
			</li>
		</ul>

	</div>

</body>
<header th:include="_template :: footer"></header>
</html>